# Ignore IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
# Specific IntelliJ IDEA files
.idea/shelf/
.idea/workspace.xml
.idea/httpRequests/
.idea/mavenHomeManager.xml
.idea/dataSources/
.idea/dataSources.local.xml

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/wrapper/maven-wrapper.jar

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Help file
HELP.md
